[Unit]
Description=Reddit Voter Info Bot

[Service]
Type=simple

User=ubuntu
WorkingDirectory=/home/ubuntu/reddit-voter-info-bot
KillMode=mixed

# Couchbase Config
Environment=USER_AGENT=
Environment=CLIENT_ID=
Environment=CLIENT_SECRET=
Environment=REDDIT_USERNAME=
Environment=REDDIT_PASSWORD=

ExecStart=/usr/bin/npm run start

[Install]
WantedBy=multi-user.target